@import '~antd/dist/antd.css';
@import '../utilities/StyleTemplates.scss';

.Header {
    height: 10vh;
    justify-items: center;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 10vh;

    &-title {
        grid-column-start: 3;
        grid-column-end: 6;
        color: white;
        display: flex;
        align-items: center;
    }
     
    &-auth {
        display: flex;
        grid-column: 5 / span 2;
    }

    &-profile {
        grid-column-start: 1;
        grid-column-end: 2; 
        @include header-item-style;
    }

    &-logout {
        grid-column-start: 2;
        grid-column-end: 3;
        @include header-item-style;
    }

    &-shopping-empty {
        grid-column-start: 7;
        @include header-item-style;
    }
    
    &-shopping-filled {
        grid-column-start: 7;
        @include header-item-style;
    }
}



.ShoppingFilled:hover {
    color: blue;
}
