@import '~antd/dist/antd.css';

.Header {
    width: 100%;
    height: 10vh;
    background-color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;

     &-Header-text {
        color: red;
        grid-column: 4 / 5;
        justify-self: center;
        align-self: center;
    }

    &-Shopping-Cart {
        color: white;
        grid-column: 7 / 7;
        margin-right: 2rem;
    }
}

.ShoppingFilled:hover {
    color: blue;
}
