@import '~antd/dist/antd.css';

.Header {
    height: 10vh;
    border: 1px solid red;
    justify-items: center;
    background-color: black;
    font-size: 3rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;

    &-title {
        grid-column-start: 4;
        color: white;
    }
     
    &-auth {
        display: flex;
        grid-column: 5 / span 2;
    }
}

.ShoppingEmpty {
    color: white;
    align-self: center;
}

.ShoppingFilled {
    align-self: center;
}

.ShoppingFilled:hover {
    color: blue;
}

.Profile {
    color: white;
    margin: 0 1rem 0 1rem;   
}

.Logout {
    color: white;
    margin: 0 1rem 0 1rem;
}

.Signup {
    color: white;
    margin: 0 1rem 0 1rem;
}

.Login {
    color: white;
    margin: 0 1rem 0 1rem;
}