.ImageContainer {
    position: relative;
    display: inline-block;
    
    &-img {
        border: 1px solid red;
        width: 402px;
        // margin-left: 10px;
        &-info {
            display: flex;
            justify-content: space-evenly;
            font-size: 1rem;
        }
    }
}

.ArtImage {
    border: 5px solid black;
    border-radius: 5px;
}

.ant-image {
    margin-left: 20px;
    margin-bottom: 5px;
    justify-content: center;
}

.add-to-cart:hover {
    cursor: pointer;
    color: red;
}